body{
	font-family: Arial;
	margin: 10px;
	font-size: 12px;
	min-width: 900px;
}

h1{
	font-size: 21px;
	margin: 0;
	padding: 0;
	height: 67px;
	line-height: 67px;
	background-image: url('images/icon_64.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 76px;
}

h2{
	margin: 12px 0 6px 0;
	padding: 3px;
	border-top: 1px solid #9cc2ef;
	background-color: #ebeff9;
	font-size: 13px;
	font-weight: bold;
}

h3{
	margin-top: 0;
	font-size: 15px;
}
h4{
	margin-top: 0;
	font-size: 13px;
}
h4 > label{
	display: inline !important;
}

/*__Form__*/
input[type=text],
input[type=password]{
	width: 100%;
}
input[type=checkbox]{
	display: block;
	float: left;
}


/*__*/
.fieldset{
	width: 220px;
	margin: 0 20px 20px 0;
	height: 280px;
	float: left;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 12px;
}
.fieldset label{
	display: block;
}
.fieldset hr{
	margin: 20px -12px 20px -12px;
	border: 0;
	height: 1px;
	background-color: #cccccc;
}
.row{
	min-height: 20px;
	line-height: 20px;
	vertical-align: center;
	overflow: hidden;
}
.disabled{
	opacity: .1;
}
.disabled a{
	cursor: normal;
}

span.splitter{
	display: block;
	text-align: center;
	border-top: 1px solid #cccccc;
	line-height: 16px;
	margin: 20px 0 10px 0;
}
span.splitter span{
	display: inline-block;
	padding: 0 5px;
	margin-top: -8px;
	background-color: #ffffff;
	font-weight: bold;
}

/*__Yahoo Form__*/
#yahoo_form .logged_in,
#yahoo_form.logged_in .logged_out{
	display: none;
}
#yahoo_form .logged_out,
#yahoo_form.logged_in .logged_in{
	display: block;
}

/*__Synch Button__*/
a.working{
	background: url('images/spinner.gif') no-repeat right center;
	padding-right: 20px;
	color: #999999;
	text-decoration: none;
	cursor: default;
}

#syncherror{
	-webkit-transition: opacity .5s ease-in-out, height 0s linear .5s;
	opacity: 0;
	height: 0;
	overflow: hidden;
	color: red;
	padding: 0;
	margin: 0;
}
a.error + #syncherror{
	-webkit-transition: opacity .5s ease-in-out, height 0s;
	height: 20px;
	opacity: 1;
}

/*__Shortcuts__*/
input.shortcut{
	float: right;
	margin: 0;
}

/*__Notes__*/
div.notes{
	float: right;
	width: 320px;
	padding: 6px 20px 0 20px;
	border-left: 1px solid #cccccc;
}
.notes h4{
	font-size: 12px;
	font-weight: bold;
	display: inline;
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
}